.bblue{
	color:blue;
}

.bgray{
	color:gray;
}

.borange{
	color:orange;
}

.bgreen{
	color: green;
}

.bred{
	color: red;
}

.principal {

	width: 80%;
	max-width: 800px;
	min-width: 240px;
	margin: 0px auto;
	background-color: rgba(115,155,155,0.3);
	padding: 15px;
	

	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius: 15px;
	margin-top: 30px;
}