

/*//propiedades personalizadas por PDM*/
.tablaLibroNoc{
	margin-top: 30px;
}






























/*
**INFORMACION RESPECTIVA AL JQERY MOBILE COPIADA DE LA URL : /table-reflow-styling/;
*/

/* These apply across all breakpoints because they are outside of a media query */
/* Make the labels light gray all caps across the board */
.tablaLibroNoc thead th,
.tablaLibroNoc tbody th .ui-table-cell-label,
.tablaLibroNoc tbody td .ui-table-cell-label {
    text-transform: uppercase;
    font-size: .7em;
    color: rgba(0,0,0,0.5);
    font-weight: normal;
}
/* White bg, large blue text for rank and title */
.tablaLibroNoc tbody th {
    font-size: 1.05em;
    background-color: #fff;
    color: #77bbff;
    text-align: center;
}
/*  Add a bit of extra left padding for the title */
.tablaLibroNoc tbody th.title {
    padding-left: .8em;
}
/* Add strokes */
.tablaLibroNoc thead th {
    border-bottom: 1px solid #d6d6d6; /* non-RGBA fallback */
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.tablaLibroNoc tbody th,
.tablaLibroNoc tbody td {
    border-bottom: 1px solid #e6e6e6; /* non-RGBA fallback  */
    border-bottom: 1px solid rgba(0,0,0,.05);
}
/*  Custom stacked styles for mobile sizes */
/*  Use a max-width media query so we don't have to undo these styles */
@media (max-width: 40em) {
    /*  Negate the margin between sections */
    .tablaLibroNoc tbody th {
        margin-top: 0;
        text-align: left;
    }
    /*  White bg, large blue text for rank and title */
    .tablaLibroNoc tbody th,
    .tablaLibroNoc tbody th.title {
        display: block;
        font-size: 1.0em;
        line-height: 110%;
        padding: .5em .5em;
        background-color: #fff;
        color: #77bbff;
        -moz-box-shadow: 0 1px 6px rgba(0,0,0,.1);
        -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.1);
        box-shadow: 0 1px 6px rgba(0,0,0,.1);
    }
    /*  Hide labels for rank and title */
    .tablaLibroNoc tbody th .ui-table-cell-label,
    .tablaLibroNoc tbody th.title .ui-table-cell-label {
        display: none;
    }
    /*  Position the title next to the rank, pad to the left */
    .tablaLibroNoc tbody th.title {
        margin-top: 3px;
        padding-left: 2.2em;
        border-bottom: 1px solid rgba(0,0,0,.15);
    }
    /*  Make the data bold */
    .tablaLibroNoc th,
    .tablaLibroNoc td {
        font-weight: bold;
    }
    /* Make the label elements a percentage width */
    .tablaLibroNoc td .ui-table-cell-label,
    .tablaLibroNoc th .ui-table-cell-label {
        min-width: 20%;
    }
}
/* Media query to show as a standard table at wider widths */
@media ( min-width: 40em ) {
    /* Show the table header rows */
    .tablaLibroNoc td,
    .tablaLibroNoc th,
    .tablaLibroNoc tbody th,
    .tablaLibroNoc tbody td,
    .tablaLibroNoc thead td,
    .tablaLibroNoc thead th {
        display: table-cell;
        margin: 0;
    }
    /* Hide the labels in each cell */
    .tablaLibroNoc td .ui-table-cell-label,
    .tablaLibroNoc th .ui-table-cell-label {
        display: none;
    }
}
/* Hack to make IE9 and WP7.5 treat cells like block level elements */
/* Applied in a max-width media query up to the table layout breakpoint so we don't need to negate this */
@media ( max-width: 40em ) {
    .tablaLibroNoc td,
    .tablaLibroNoc th {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        clear: left;
    }
}